<div class="container">
  <div class="informations-bar">
    <ul>
      <li class="active">Actualités</li>
      <li>Biooooooo</li>
      <li>Modifier profil</l>
      <li><a style="text-decoration: none; color: #adadad;" href="{{ path('duration') }}">Duree</a></li>
      <li><a style="text-decoration: none; color: #adadad;" href="{{ path('km') }}">Km</a></li>
      <li><a style="text-decoration: none; color: #adadad;" href="{{ path('enterWentOut') }}">Rentrer une sortie</a></li>
      <li><a style="text-decoration: none; color: #adadad;" href="{{ path('logout') }}">Déconnexion</a></li>
    </ul>
    <div class="profile">
      <img src="{{ asset('assets/img/louis.png') }}">
      <p class="name">Louis Ardilly 21 ans</p>
    </div>
  </div>
</div>